@mixin buttonFormat {
    background-color: inherit;
    border: none;
    outline: none;
}

@mixin alignCenter {
    display: flex;
    align-items: center;
}

@mixin styledList {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin greyBorder {
    border: 1px solid lightgray;
}